* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}


.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column; 
    position: relative;
}

.card--badge {
  position: absolute;
  top: 25px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.cards{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}


.activity{
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.cover {
  display: flex;
  flex-direction: column;
}

.cover-image {
  padding-top: 50px;
  max-width: 400px;
  align-self: center;
}

.title {
  margin-left: 50px;
  margin-bottom: 16px;
}

.title-content {
  margin-left: 50px;
  margin-top: 0;
}

.card{
  margin-left: 50px;
  width: 175px;
  font-size: 12px;
  padding-top: 20px;
}

.img{
  width: 100%;
  height: 50%;
  border-radius: 9px;
}

.stats{
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.star{
  height: 14px;
}

.Footer{
  text-align: center;
  box-shadow: 0px -2.98256px 10.4564px rgba(0, 0, 0, 0.1);
}